<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <!--LOG4J2 logging parameters-->
    <context-param>
        <param-name>log4jContextName</param-name>
        <param-value>rosmofApplication</param-value>
    </context-param>

    <context-param>
        <param-name>contextId</param-name>
        <param-value>1</param-value>
    </context-param>

    <!--
        Allows integration of @Configuration java classes in this xml descriptor
    -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <!--
        Declaration for loading the root context as declared in the @Configuration
        java file
    -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>ro.rosmof.configuration.RootContextConfiguration</param-value>
    </context-param>

    <listener>
        <listener-class>
            ro.rosmof.configuration.DiplomaRootListener
        </listener-class>
    </listener>


    <!--
        Servlet declaration with
            1)special class for allowing java @Configuration files integration and
            2)servlet context
    -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!--
            This class is used to allow the use of java configuration classes
        -->
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>

        <!--
            This is how you declare the java servlet configuration class annotated with @Configuration.
            The root context is loaded by the ContextListener and the servlet context is loaded by the
            servlet.
        -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>ro.rosmof.configuration.WebServletConfiguration</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <!--rest servlet declaration-->
    <!--    <servlet>-->
    <!--        <servlet-name>restServlet</servlet-name>-->
    <!--        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->

    <!--        <init-param>-->
    <!--            <param-name>contextClass</param-name>-->
    <!--            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>-->
    <!--        </init-param>-->

    <!--        <init-param>-->
    <!--            <param-name>contextConfigLocation</param-name>-->
    <!--            <param-value>ro.rosmof.configuration.RestServletConfiguration</param-value>-->
    <!--        </init-param>-->

    <!--        <load-on-startup>2</load-on-startup>-->
    <!--    </servlet>-->

    <error-page>
        <location>/badrequest</location>
    </error-page>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>restServlet</servlet-name>-->
    <!--        <url-pattern>/rest</url-pattern>-->
    <!--    </servlet-mapping>-->

</web-app>